name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y libkrb5-dev
        python -m pip install --upgrade pip
        pip install poetry
        poetry config installer.max-workers 10
        poetry install --no-interaction --no-ansi
    - name: Run Lint
      run: make lint
